:root {
  --sl-font: 'Inter Variable', sans-serif;
  /* Dark mode colors. */
	--sl-color-accent-low: #162241;
	--sl-color-accent: #375fd0;
	--sl-color-accent-high: #b6c9f1;
	/* --sl-color-white: #ffffff;
	--sl-color-gray-1: #e7eff2;
	--sl-color-gray-2: #bac4c8;
	--sl-color-gray-3: #7b8f96;
	--sl-color-gray-4: #495c62;
	--sl-color-gray-5: #2a3b41;
	--sl-color-gray-6: #182a2f;
	--sl-color-black: #121a1c; */
  
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #c9d7f6;
	--sl-color-accent: #3961d2;
	--sl-color-accent-high: #1c2f60;
	--sl-color-white: #121a1c;
	--sl-color-gray-1: #182a2f;
	--sl-color-gray-2: #2a3b41;
	--sl-color-gray-3: #495c62;
	--sl-color-gray-4: #7b8f96;
	--sl-color-gray-5: #bac4c8;
	--sl-color-gray-6: #e7eff2;
	--sl-color-gray-7: #f3f7f9;
	--sl-color-black: #ffffff;
}

/* .site-title {
  color:white;
}

.site-title[data-theme='light'] {
  color:black;
} */